:root {
  --thm-primary: #D11414;
  --thm-primary-rgb: 209, 20, 20;
  --thm-secondary: #d98a3d;
  --thm-secondary-rgb: 217, 138, 61;
  --thm-special: #325863;
  --thm-special-rgb: 50, 88, 99;
  --thm-gray: #e0d9d9;
  --thm-gray-rgb: 224, 217, 217;
  --thm-color: #160303;
  --thm-color-rgb: 22, 3, 3;
  --thm-border: #c4c4c4;
  --thm-border-rgb: 196, 196, 196;
  --thm-success: #19a319;
  --thm-success-rgb: 25, 163, 25;
  --thm-font: "Poppins", sans-serif;
  --thm-heading: "Lato", sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: var(--thm-font);
  font-weight: 500;
}

a {
  font-weight: 500;
  color: var(--thm-primary);
  text-decoration: inherit;
  transition: all 500ms ease;
}
a:hover {
  color: var(--thm-secondary);
}


input {
  outline: none;
  border: 1px solid var(--thm-border);
  border-radius: 4px;
}

input:focus {
  border: 1px solid var(--thm-success);
}

button:not(.btn-close,.Toastify__close-button) {
  background-color: var(--thm-primary);
  padding: 0.6em 2em;
  border-radius: 4px;
  color: #fff;
  transition: all 500ms ease;
}

button:not(.btn-close,.Toastify__close-button):hover {
  background-color: var(--thm-secondary);
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1060;
}
.loader img {
  position: relative;
  width: 150px;
  transform: skewX(15deg);
  animation: loader 0.4s infinite linear;
}
@keyframes loader {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: -10px;
  }
}

.login-page {
  position: relative;
  min-height: 100vh;
  background-color: var(--thm-gray);
  padding: 50px 0 80px;
}

.login-box {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
}

.login-title {
  position: relative;
  margin-bottom: 40px;
  display: inline-block;
}

.login-title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 70%;
  height: 3px;
  background-color: var(--thm-primary);
}

.login-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
}

.input-box label {
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

.input-box label span {
  color: var(--thm-primary);
}

.input-box input {
  padding: 10px;
  outline: none;
  width: 100%;
}

.input-box button {
  width: 100%;
}

/* Header */
.header {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid var(--thm-border);
  padding-right: 40px;
  padding-left: 10px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-left img {
  width: 140px;
}
.header-inner ul {
  margin-bottom: 0;
}

/* admin dashboard */
.admin-dashboard {
  position: relative;
}

/* sidebar */
.sidebar {
  background-color: #fff;
  width: 400px;
  min-height: calc(100vh - 111px);
  height: 100%;
  position: absolute;
  overflow: auto;
  top: 111px;
  left: 0;
  border-right: 1px solid var(--thm-border);
}
.sidebar ul {
  display: flex;
  flex-direction: column; 
}
.sidebar ul li {
  border-bottom: 1px solid var(--thm-border);
}
.sidebar ul li a,
.sidebar ul li .logout {
  background-color: #fff;
  color: var(--thm-primary);
  display: flex;
  font-size: 16px;
  align-items: center;
  column-gap: 10px;
  padding: 17px 20px;
  transition: all 500ms ease;
  cursor: pointer;
}
.sidebar ul li a:hover,
.sidebar ul li .logout:hover,
.sidebar ul li a.active {
  background-color: var(--thm-primary);
  color: #fff;
}
.sidebar ul li a i {
  font-size: 18px;
}

.admin-dashboard-inner {
  margin-left: 400px;
  padding-left: 40px;
  padding-top: 50px;
  padding-right: 40px;
}

.dashboard-header {
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}
.dashboard-header:before {
  content: '';
  position: absolute;
  bottom: -13px;
  width: 70%;
  height: 3px;
  background-color: var(--thm-primary);
}

.admin-dashboard-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.admin-dashboard table tr td,
.admin-dashboard table tr th {
  border: 1px solid var(--thm-border);
  padding: 10px 20px;
}

.controller-modal .modal-dialog {
  max-width: 720px;
}
.controller-modal .modal-header {
  padding: 20px 30px;
}
.controller-modal .modal-body {
  padding: 30px;
}